<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Ticket Swap{% endblock %}</title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device=width, initial-scale=1" />

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" >
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <!-- Logo -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    Ticketswap
                </a>
            </div>

            <div >
                <!-- left menu contents -->
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{{ path('homepage') }}">
                            home
                        </a>
                    </li>
                    {% if user != 'guest' %}
                        <li>
                            <a href="{{ path('newListing') }}">
                                Create Listing
                            </a>
                        </li>
                    {% endif %}
                </ul>

                <!-- right menu contents -->
                <ul class="nav navbar-nav navbar-right">
                    {% if user == 'guest' %}
                        <li>
                            <a href="#">Guest</a>
                        </li>
                    <li>
                        <a href="{{ path('userLogin') }}">
                            Login
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="#">{{ user }}</a>
                    </li>
                    <li>
                        <a href="{{ path('logout') }}">
                            Logout
                        </a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>
    <div class="container">
            {% block body %}{% endblock %}
    </div>

        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
