{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <form action="{{ path('submitLogin') }}" method="post">
        <input type="number" placeholder="User ID" name="user_id">
        <input type="submit" value="submit">
    </form>
</div>
{% endblock %}