{% extends 'base.html.twig' %}

{% block body %}

<div id="welcome">
    <h2><span>Welcome to</span>Ticketswap</h2>
</div>

<div class="row">
    <div class="col-md-12">

    {% if listings is empty %}
        <h3>Welcome Be the first Creating a Listing</h3>
    {% else %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Price
                </th>
                <th>
                    Description
                </th>
            </tr>
            </thead>
            <tbody>
        {% for listing in listings %}

            <tr onclick="window.document.location='{{ path('showListing',{ 'listingId' : listing.id }) }}';">
                <td>
                    {{ listing.id }}
                </td>
                <td>
                    {{ listing.price }}
                </td>
                <td>
                    {{ listing.description }}
                </td>
            </tr>

        {% endfor %}
    {% endif %}

            </tbody>
        </table>
    </div>
</div>

{% endblock %}
