{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
    <form action="{{ path('submitListing') }}" method="post">
        <input type="text" placeholder="Listing Description" name="description">
        <br><br>
        <input type="text" placeholder="Price" name="price"> $
        <br><br>
        <input type="submit" value="submit">
    </form>
</div>

{% endblock %}
