{% extends 'base.html.twig' %}

{% block body %}
    {% if errorbag is not empty %}
    <div class="row col-md-12">
        <div class="alert alert-danger">{{ errorbag }}</div>
    </div>
    {% endif %}

<div class="row">
    <div class="col-md-6">
        <h3>Listing Information</h3>
        <label>Description :</label> <span>{{ listing.description }}</span>
        <br><br>
        <label>Listing Author :</label> <span>{{ listing.author.name }}</span>
    </div>

    <div class="col-md-6">
        <h3>Listing Tickets</h3>

        {% if tickets is not empty %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Buyer
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        {{ listing.price }} $
                    </th>
                </tr>
                </thead>
                <tbody>

                {% for ticket in tickets %}
                    <tr>
                        <td>
                            {{ ticket.id }}
                        </td>
                        <td>
                            {% if ticket.buyer is empty %}
                                -
                            {% else %}
                                {{ ticket.buyer.name }}
                            {% endif %}
                        </td>
                        <td>
                            {% if ticket.buyer is empty %}
                                -
                            {% else %}
                                {{ ticket.boughtAt.date }}
                            {% endif %}
                        </td>
                        <td>
                            {% if ticket.buyer is empty %}
                                <button onclick="window.document.location='{{ path('buyTicket',{ 'ticketId' : ticket.id }) }}'" class="btn btn-success">Buy</button>
                            {% else %}
                                Sold!
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% else %}
            <h3>This listing is Empty</h3>
        {% endif %}

        {% if user != 'guest' and user == listing.author.name %}
        <form action="{{ path('submitTicket') }}" method="post">
            <input type="hidden" value="{{ listing.id }}" name="listing" >
            <input type="text" placeholder="Barcode" name="barcode">
            <br><br>
            <input type="submit" value="submit">
        </form>
        {% endif %}

    </div>
</div>

{% endblock %}
